################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/машинка/FileContentIndex/5b9d535b-ab8f-4472-8730-c1d917b1f0e1.vsidx
/.vs/машинка/FileContentIndex/0262b107-5755-47f3-9378-12780b427de9.vsidx
/.vs/машинка/FileContentIndex/03fd4a4d-3851-49c6-8016-653502a1eadb.vsidx
/.vs/машинка/FileContentIndex/7b113c3b-7a7d-44cf-86af-483558c170bf.vsidx
/.vs/машинка/FileContentIndex/b9045669-c528-43f6-959e-d083770bd2c8.vsidx
