################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/машинка/FileContentIndex/5b9d535b-ab8f-4472-8730-c1d917b1f0e1.vsidx
/.vs/машинка/FileContentIndex/0262b107-5755-47f3-9378-12780b427de9.vsidx
/.vs/машинка/FileContentIndex/03fd4a4d-3851-49c6-8016-653502a1eadb.vsidx
/.vs/машинка/FileContentIndex/7b113c3b-7a7d-44cf-86af-483558c170bf.vsidx
/.vs/машинка/FileContentIndex/b9045669-c528-43f6-959e-d083770bd2c8.vsidx
/.vs/машинка/FileContentIndex/39204ed6-b49f-4e3f-8cef-d7212f78cbd0.vsidx
/.vs/машинка/FileContentIndex/0d86fe99-6ebc-4dbb-ad0b-cf17fa226733.vsidx
/.vs/машинка/FileContentIndex/3200f402-fd98-4c2e-a1a0-f8e128523265.vsidx
/.vs/машинка/FileContentIndex/ba62ea59-49e4-4a8b-b8b5-941549d05409.vsidx
/.vs/машинка/FileContentIndex/b2ca4580-7723-4841-80eb-a3432a96cd39.vsidx
/.vs/машинка/FileContentIndex/dc6b72e6-38a3-4f74-8da8-5c0068c866b8.vsidx
